* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
Header {
  background-color: #ffffff;
}

header img {
  width: 50px;
  height: 50px;
}
.container {
  padding: 20px 0;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-header ul li .border {
  color: blue;
  border-bottom: 5px solid blue;
}

.list-header li {
  margin: 0 8px;
  list-style-type: none;
}

.list-header li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.list-header ul {
  display: flex;
}

/* MAIN */

.cont-black {
  background-color: black;
}
.cont-blue {
  background-color: dodgerblue;
}

.container-black {
  max-width: 1100px;
  margin: 0 auto;
}

.container-black .main-text h2 {
  color: #ffffff;
  padding: 35px 0;
}

.container-blue {
  max-width: 1100px;
  margin: 0 auto;
}

.list-icon ul {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.list-icon li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list-icon li p {
  color: #ffffff;
  font-size: 13px;
}

.list-icon li img {
  width: 35px;
}

.list-icon p {
  margin-left: 5px;
}

.list-icon .locator img {
  width: 50px;
}

/* FOOTER */
.list-footer {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
}

.list-footer .margin-ul {
  margin: 0 30px;
}

.list-footer li {
  list-style-type: none;
  color: grey;
  font-size: 15px;
}

.list-footer .bold-li {
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.cont-foot-background {
  padding: 50px 0;
}

.cont-foot-grey {
  background-color: rgb(60, 60, 60);
}

.cont-foot-grey .sign {
  padding: 10px;
  display: inline-block;
  border: 2px solid rgba(15, 96, 225, 0.583);
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.cont-foot {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  padding: 23px 0;
  justify-content: space-between;
}

.lista-social h3 {
  color: rgb(11, 88, 255);
  margin-right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.lista-social {
  display: flex;
}

.lista-social img {
  margin: 0 5px;
  cursor: pointer;
}
